# See https://gist.github.com/kogakure/149016

*.pdf
*.swp

# LaTeX projects
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

